<section>
    <h2>Events this Community</h2>
    {{#each community.events as |event|}}
    {{#ifvalue event.category value='event'}}
    Event Name:
    <h3>{{event.event_name}}</h3>
    <h4>{{event.date}}</h4>
    <h4>{{event.description}}</h4>
    Located At:
    <h4>{{event.site.street_address}}</h4>
    <p>Check out this Event <a href="{{event.site.map_link}}">here!</a></p>
    {{/ifvalue}}
    {{/each}}
    {{#each community.events.eventseries as |series|}}
    {{#ifvalue series.category value='event series'}}
    Event Name:
    <h3>{{series.event_name}}</h3>
    <h4>{{series.date}}</h4>
    <h4>{{series.description}}</h4>
    Located At:
    <h4>{{series.site.street_address}}</h4>
    <p>Check out this Event <a href="{{series.site.map_link}}">here!</a></p>
    {{/ifvalue}}
    {{/each}}
</section>